<!DOCTYPE html>
<html><head>
  <title>YouTube Downloader</title>
  <link rel="icon" 
      type="image/png" 
      href="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/5bd8be66-d1fe-4705-9454-77b011b2d6d9/d81izi2-55972743-65c3-41cc-863e-45d7243e305f.png"
  </link>
<style>
body {
  wallpaper-image: url('https://www.wallpapertip.com/wdown/bRhmoR_music-wallpapers-desktop-on-wallpaper-hd-1920-x/')
}
	* {
    text-align: center;
}
.heading {
    font-family: Arial;
    margin-top:40vh;
}
.URL-input, .convert-button {
    font-size:1.3em;
    padding:5px 10px;
}
.URL-input {
    border-radius:4px 0px 0px 4px;
    width:30em;
    text-align: left;
    border:2px solid #EEEEEE;
    background: #EEEEEE;
    outline:none;
}
.URL-input:focus {
    border:2px solid #0485ff;
}
.convert-button {
    border-radius:0px 4px 4px 0px;
    border:2px solid #0485ff;
    background: #0485ff;
    color:white;
}
</style>
</head>
<body>
<h1 class="heading">Download your favorite music of youtube</h1>
<input class="URL-input" placeholder="Video url example: https://www.youtube.com/watch?v=kdnKzJKJ">
<button class="convert-button">Convert</button>
<input type="checkbox" name="color" value="mp4"> mp4

<script>
var convertBtn = document.querySelector('.convert-button');
var URLinput = document.querySelector('.URL-input');
convertBtn.addEventListener('click', () => {
    console.log(`URL: ${URLinput.value}`);
    sendURL(URLinput.value);
});
 
function sendURL(URL) {
  if(!URL.startsWith('https://youtu.be/') && !URL.startsWith('http://youtu.be/') && !URL.startsWith('http://www.youtube.com/') && !URL.startsWith('https://www.youtube.com/') && !URL.startsWith('http://m.youtube.com/') && !URL.startsWith('https://m.youtube.com/')) return alert("Warning: This unbaled youtube url!")
    
    if(getSelectedCheckboxValues('color') == 'mp4'){
	  	window.location.href = `https://yt-music-installer.herokuapp.com/download?URL=${URL}&type=mp4`;
	  } else {
	  	window.location.href = `https://yt-music-installer.herokuapp.com/download?URL=${URL}&type=mp3`;
	  }
}

function getSelectedCheckboxValues(name) {
    const checkboxes = document.querySelectorAll(`input[name="${name}"]:checked`);
    let values = [];
    checkboxes.forEach((checkbox) => {
        values.push(checkbox.value);
    });
    return values;
}

</script>
</body>
</html>
