<!DOCTYPE html>
<html><head>
<title>YouTube Downloader</title>
<style>
	* {
    text-align: center;
}
.heading {
    font-family: Arial;
    margin-top:40vh;
}
.URL-input, .convert-button {
    font-size:1.3em;
    padding:5px 10px;
}
.URL-input {
    border-radius:4px 0px 0px 4px;
    width:30em;
    text-align: left;
    border:2px solid #EEEEEE;
    background: #EEEEEE;
    outline:none;
}
.URL-input:focus {
    border:2px solid #0485ff;
}
.convert-button {
    border-radius:0px 4px 4px 0px;
    border:2px solid #0485ff;
    background: #0485ff;
    color:white;
}
</style>
</head>
<body>
<h1 class="heading">Download yout favorite music of youtube</h1>
<input class="URL-input" placeholder="Video url example: https://www.youtube.com/watch?v=kdnKzJKJ">
<button class="convert-button">Convert</button>

<script>
	var convertBtn = document.querySelector('.convert-button');
var URLinput = document.querySelector('.URL-input');
convertBtn.addEventListener('click', () => {
    console.log(`URL: ${URLinput.value}`);
    sendURL(URLinput.value);
});

function sendURL(URL) {

    if(URL.startsWith('https://youtu.be/') || URL.startsWith('http://youtu.be/')) return alert("Warning: This unbaled youtube url!"+URL)   
    window.location.href = `https://yt-downlower.herokuapp.com/download?URL=${URL}`;
}

function myFunction(URL) {
  //alert("Warning: This unbaled youtube url!"+URL);

}

</script>
</body>
</html>
